* {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  overflow-x: hidden; }

ul {
  margin: 0;
  padding: 0; }

br {
  content: "A" !important;
  display: block !important;
  margin-bottom: 1.5em !important; }

.main,
.section {
  background-color: #e8eddf; }
  .main .title, .main .subtitle, .main .product__title,
  .section .title,
  .section .subtitle,
  .section .product__title {
    padding: 0.25rem;
    font-size: 3rem;
    font-family: "Bungee", cursive;
    font-weight: 400;
    text-align: center;
    color: #333533; }
    @media (max-device-width: 479px) {
      .main .title, .main .subtitle, .main .product__title,
      .section .title,
      .section .subtitle,
      .section .product__title {
        font-size: 2rem; } }
  .main .subtitle,
  .section .subtitle {
    font-size: 2.5rem; }
    @media (max-device-width: 479px) {
      .main .subtitle,
      .section .subtitle {
        font-size: 1.75rem; } }
  .main .article--side,
  .section .article--side {
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
  .main .article__p,
  .section .article__p {
    width: 70%;
    align-self: center;
    text-align: center;
    color: #242423;
    font-size: 1.2rem;
    line-height: 1.5; }
  .main .article__img,
  .section .article__img {
    height: 450px;
    width: 450px;
    border-radius: 1rem;
    filter: drop-shadow(1px 1px 2px #242423); }
  @media (max-device-width: 1023px) {
    .main .article--side,
    .section .article--side {
      flex-direction: column;
      justify-content: center; }
    .main .article__p,
    .section .article__p {
      width: 75%;
      align-self: center;
      text-align: center;
      color: #242423;
      font-size: 1rem;
      line-height: 1.2; }
    .main .article__img,
    .section .article__img {
      height: 350px;
      width: 320px; } }
  @media (max-device-width: 479px) {
    .main .article__p,
    .section .article__p {
      width: 80%;
      align-self: center;
      text-align: center;
      color: #242423;
      font-size: 1rem;
      line-height: 1.2; }
    .main .article__img,
    .section .article__img {
      height: 250px;
      width: 220px; } }
  .main .bg-container,
  .section .bg-container {
    background-color: #cfdbd5; }
    .main .bg-container__alternative,
    .section .bg-container__alternative {
      background-color: #e8eddf; }
  .main .integrants__name,
  .section .integrants__name {
    text-align: center;
    font-size: 2rem;
    font-family: "Bungee", cursive;
    font-weight: 400;
    color: #333533; }
  .main .integrants__img,
  .section .integrants__img {
    height: 250px;
    width: 250px; }
    @media (max-device-width: 479px) {
      .main .integrants__img,
      .section .integrants__img {
        height: 180px;
        width: 180px; } }
  @media (max-device-width: 1023px) {
    .main .integrants__mobile,
    .section .integrants__mobile {
      flex-direction: column;
      margin: 0;
      align-content: center; } }
  .main .product,
  .section .product {
    background-color: #cfdbd5; }
    .main .product__title,
    .section .product__title {
      font-size: 1.25rem; }
    .main .product__section,
    .section .product__section {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      gap: 1.5rem; }
      @media (max-device-width: 1023px) {
        .main .product__section,
        .section .product__section {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: auto; } }
      @media (max-device-width: 770px) {
        .main .product__section,
        .section .product__section {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: auto;
          gap: 1rem; } }
      @media (max-device-width: 479px) {
        .main .product__section,
        .section .product__section {
          display: flex;
          flex-direction: column;
          align-content: center;
          gap: 1.5rem; } }
    @media (max-device-width: 770px) {
      .main .product,
      .section .product {
        flex-direction: column;
        gap: 1.5rem; } }
  .main .text-color,
  .section .text-color {
    color: #242423; }
  .main .card,
  .section .card {
    border: 2px solid #333533;
    height: 40rem;
    width: 22rem;
    justify-self: center;
    border-radius: 1rem;
    filter: drop-shadow(1px 1px 2px #242423); }
    .main .card-img-top,
    .section .card-img-top {
      object-fit: cover; }
    .main .card-body,
    .section .card-body {
      background-color: #cfdbd5 !important; }
      .main .card-body .btn-dark,
      .section .card-body .btn-dark {
        background-color: #f5cb5c !important;
        color: #242423 !important;
        border-radius: 1rem;
        text-align: center;
        opacity: 1;
        transition: ease-in-out 200ms;
        border: 1px solid #f5cb5c;
        border-color: #333533; }
        .main .card-body .btn-dark:hover,
        .section .card-body .btn-dark:hover {
          opacity: 0.7;
          transition: ease-in-out 200ms; }
    .main .card p,
    .section .card p {
      padding-bottom: 0.1rem !important;
      margin-bottom: 0rem !important; }
  .main .container__btn .btn,
  .section .container__btn .btn {
    margin: 0 0.5rem 1rem 0.5rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-align: center;
    border-radius: 1rem;
    color: #242423 !important;
    background-color: #f5cb5c;
    border: 1px solid #333533;
    transition: ease-in-out 200ms;
    opacity: 1; }
  .main .container__btn .btn:hover,
  .section .container__btn .btn:hover {
    transition: ease-in-out 200ms;
    opacity: 0.7; }
  @media (max-device-width: 1023px) {
    .main .container__btn,
    .section .container__btn {
      flex-direction: column; } }
  .main .comment,
  .section .comment {
    height: 250px;
    resize: none; }

.header .bg-dark {
  background-color: #333533 !important; }

.header .logo {
  width: 3rem;
  height: 3rem; }
  @media (max-device-width: 479px) {
    .header .logo {
      width: 2.5rem;
      height: 2.5rem; } }

.header .svg {
  filter: invert(87%) sepia(67%) saturate(6608%) hue-rotate(314deg) brightness(106%) contrast(92%); }

.header .navbar-collapse {
  flex-grow: 0; }

.header .btn-primary {
  background-color: #f5cb5c !important;
  color: #242423 !important;
  border-radius: 1rem;
  text-align: center;
  opacity: 1;
  transition: ease-in-out 200ms;
  border-color: transparent !important; }
  .header .btn-primary:hover {
    opacity: 0.7;
    transition: ease-in-out 200ms; }

.header button {
  border: 0px; }

.header .cart {
  width: 2rem;
  height: 1rem; }
  @media (max-device-width: 1023px) {
    .header .cart {
      width: 2.4rem;
      height: 1.2rem; } }

.header .active {
  background-color: #242423 !important;
  color: #f5cb5c !important; }

.footer {
  background-color: #333533 !important; }
  .footer .menu {
    justify-self: center; }
    .footer .menu .links {
      display: flex;
      margin: 0.25rem;
      justify-content: center; }
      .footer .menu .links__a {
        margin: 0.25rem;
        padding: 0.5rem 1.25rem 0.5rem 1.25rem;
        text-align: center;
        border-radius: 1rem;
        color: #242423;
        background-color: #f5cb5c;
        border: 1px solid #333533;
        transition: ease-in-out 200ms;
        opacity: 1; }
        .footer .menu .links__a:hover {
          transition: ease-in-out 200ms;
          opacity: 0.7;
          color: #242423; }
  .footer .social__icons {
    height: 4rem;
    transition: ease-in-out 200ms;
    opacity: 1; }
    .footer .social__icons:hover {
      transition: ease-in-out 200ms;
      opacity: 0.7; }
  .footer .logo {
    width: 4rem;
    height: 4rem; }
  .footer .svg {
    filter: invert(87%) sepia(67%) saturate(6608%) hue-rotate(314deg) brightness(106%) contrast(92%); }
  @media (max-device-width: 479px) {
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .footer .logo {
        display: none; }
      .footer .social {
        display: flex;
        flex-direction: row;
        align-self: center; }
        .footer .social a {
          margin: 1rem; }
        .footer .social__icons {
          height: 3rem; } }

.modal-content {
  background-color: #e8eddf; }
  .modal-content .table {
    border-color: #e8eddf; }
  .modal-content .decrease {
    background-color: #333533;
    border-color: #333533;
    color: lightgray; }
  .modal-content .increase {
    background-color: #f5cb5c;
    border-color: #f5cb5c;
    color: black; }
  .modal-content .clearItem {
    background-color: #333533;
    border-color: #333533;
    color: lightgray; }
  .modal-content .modal-footer {
    border-color: #e8eddf; }
    .modal-content .modal-footer .clear {
      background-color: #333533;
      border-color: #333533;
      color: lightgray; }
    .modal-content .modal-footer .continue {
      background-color: #f5cb5c;
      border-color: #f5cb5c;
      color: black; }
