
.header {

    .bg-dark {
        background-color: $bg-dark-color !important;
    }

    .logo {
        width: 5rem;
        height: 5rem;
    }
    
    .svg {
    filter: invert(87%) sepia(67%) saturate(6608%) hue-rotate(314deg) brightness(106%) contrast(92%);
    }
    
    .navbar-collapse {
        flex-grow: 0;
    }

    .btn-primary {
        background-color: $accent-color !important;
        color:$text-color!important;
        border-radius: 1rem;
        text-align: center;
        opacity: 1;
        transition: ease-in-out 200ms;
    
        &:hover {
            opacity: 0.7;
            transition: ease-in-out 200ms;
        }
    }

    .active {
        background-color: $bg-dark-alternative-color !important;
        color: $accent-color !important;
    }
}