// Colors map
$colors: ( // Background colors
    bg-color-primary: $greyGreen,
    bg-color-secondary: $coolGrey,
    bg-dark-color: $warmGrey,
    bg-dark-alternative-color: $eerieBlack,
    accent-color: $yellowOchre,

    // Utilities colors
    title-color: $warmGrey,
    title-alternative-color: $warmGrey,
    text-color: $eerieBlack,
    shadow-color: $eerieBlack,
    border-color: $warmGrey);

// Breakpoints
$breakpoints-up: ("large" : "1024px",
    "medium": "480px"
);

$breakpoints-down: ("small": "479px",
    "small-medium": "770px",
    "medium": "1023px"
);