// Color palette
$coolGrey: #cfdbd5;
$greyGreen: #e8eddf;
$yellowOchre: #f5cb5c;
$eerieBlack: #242423;
$warmGrey: #333533;

// Font style
$font-p: "Roboto",
sans-serif;
$font-title: "Bungee",
cursive;